body {
    font-size: 15px;
}

#loader {
    top: 15%;
    left: 30%;
}

#principal {
    position: relative;
    width: 1024px;
    height: 900px;
    margin-right: auto;
    margin-left: auto;
}

#cabecera {
    position: absolute;
    background-image: url(../Resources/1280_a_2440/Banner.png);
    width: 1022px;
    height: 170px;
    font-size: 16px;
}

#cabecera h1 {
    width: 45%;
    top: 30%;
    left: 40%;
}

#contenido {
    position: absolute;
    width: 1022px;
    height: 680px;
    top: 177px;
}

#contenido2 {
    position: absolute;
    width: 1022px;
    height: 680px;
    top: 177px;
}

#contenido3 {
    position: absolute;
    width: 1022px;
    height: 680px;
    top: 177px;
}

#contenido4 {
    position: absolute;
    width: 1022px;
    height: 680px;
    top: 177px;
}

.Submenu {
    width: 100%;
    height: 5%;
    font-size: 17pt;
}

.Submenu h6 {
    margin-left: 3%;
}


#pie {
    position: absolute;
    width: 1022px;
    height: 32px;
    top: 866px;
    font-size: 16px;
}

#subPie {
    background-image: url(../Resources/1280_a_2440/Subpie.png);
    width: 100%;
    height: 32px;
}

#lblHora {
    top: 25%;
    left: 2%;
}

#ulUsuario {
    width: 18%;
    top: -25%;
    left: 780px;
}

#ulUsuario li ul {
    left: -45px;
    top: -45px;
}